.idea/
.ipynb_checkpoints/
tests/
code2seq/permanent-data/
LICENSE
code2seq/lightning_logs/
LICENSE.md
scripts/
setup.py
test.txt
.github/
__pycache__/
.DS_Store
.mypy_cache/

*.py[cod]
*$py.class

data/
wandb/
notebooks/
outputs/

code2seq.egg-info/
dist/
build/
